/*Colors
$red: #ff3333;
$yellow: #ffcc33;
$aqua: #55dde0;
$lightPurple: #9966cc;
$tealBLue: #33658a;
$maroon: #7D1935;
$cream: #faf1e6;
$linear: linear-gradient(90deg, #3f4593, #5960bd);



*/

body {
  font-family: 'Lato', sans-serif;
  background-color: #ffffff;
}

.overlay {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background: #73C8A9;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to left, #373B44, #73C8A9);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to left, #373B44, #73C8A9); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    overflow-x: hidden;
  transition: 0.5s;
}

.overlay-content {
    padding-left: 20%;
  position: relative;
  top: 25%;
  width: 100%;
  text-align: center;
  margin-top: 30px;
}

.overlay a {
  padding: 8px;
  text-decoration: none;
  font-size: 36px;
  color: #0a0a0a;
  display: block;
  transition: 0.3s;
}

.overlay a:hover, .overlay a:focus {
  color: #f1f1f1;
}

.overlay .closebtn {
  position: absolute;
  top: 20px;
  right: 45px;
  font-size: 60px;
}
li {float: left; text-decoration: none; padding: 5px; list-style-type: none}


@media screen and (max-height: 450px) {
  .overlay a {font-size: 20px}
  .overlay .closebtn {
  font-size: 40px;
  top: 15px;
  right: 35px;
  }
}


.openbtn {
  margin-left: 95%;
  margin-top: 2%;
  font-size: 30px;
  cursor: pointer;
  background-color: rgb(255, 255, 255);
  color: rgb(0, 0, 0);
  border: none;
  
}

.openbtn:hover {
  border-radius: 150px 150px 0 0;
  transition: ease-in-out 0.5s;
}

h1{
  display: flex;
  justify-content: center; 
  margin-top: 8%;
  font-size: 150px; 
  font-family: 'Bebas Neue', cursive;
}

hr{
  width: 30%;
  color: #0a0a0a;
  margin-top: -7%;  
}

p{
  display: flex;
  justify-content: center;
  font-size: large; 
  letter-spacing: 0.5rem; 
  text-transform: uppercase;
  margin-top: 4%;
}







  /* ~~~~~~~ INIT. BTN ~~~~~~~ */

  .btn {		
    position: relative;	
    padding: 1.4rem 4.2rem;
    padding-right: 3.1rem;
    font-size: 1.4rem;
    color: black;
    letter-spacing: 0.6rem;
    text-transform: uppercase;
    transition: all 500ms cubic-bezier(0.77, 0, 0.175, 1);	
    cursor: pointer;
    user-select: none;
  }
  
  .btn:before, .btn:after {
    content: '';
    position: absolute;	
    transition: inherit;
    z-index: -1;
  }
  
  .btn:hover {
    color: black;
    transition-delay: .5s;
  }
  
  .btn:hover:before {
    transition-delay: 0s;
  }
  
  .btn:hover:after {
    background: #73C8A9;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to left, #373B44, #73C8A9);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to left, #373B44, #73C8A9); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
          transition-delay: .35s;
  }
  
  
  /* From Left */
  
  .from-left:before, 
  .from-left:after {
    top: 0;
    width: 0;
    height: 100%;
  }
  
  .from-left:before {
    right: 0;
    border: 1px solid #373B44;
    border-left: 0;
    border-right: 0;	
  }
  
  .from-left:after {
    left: 0;
  }
  
  .from-left:hover:before,
  .from-left:hover:after {
    width: 100%;
  }
  
  /* From Right */
  
  .from-right:before, 
  .from-right:after {
    top: 0;
    width: 0;
    height: 100%;
  }
  
  .from-right:before {
    left: 0;
    border: 1px solid #373B44;
    border-left: 0;
    border-right: 0;	
  }
  
  .from-right:after {
    right: 0;
  }
  
  .from-right:hover:before,
  .from-right:hover:after {
    width: 100%;
  }

  /* ~~~~~~~~~~~~ GLOBAL SETTINGS ~~~~~~~~~~~~ */
  
  *, *:before, *:after {
    box-sizing: border-box;
  }
  
  
  div {margin-bottom: 3rem;}
  div:last-child {margin-bottom: 0;}


/*

  animation-duration: 0.8s;
  animation-timing-function: ease-in-out;
  animation-delay: 0s;
  animation-name: para;
  padding: 40px;

  @keyframes para {
  0% {
    transform: translateY(-250%);
  }
  100% {
    transform: translateY(0);
    
  }
}



$red: #ff3333;
$yellow: #ffcc33;
$aqua: #55dde0;
$lightPurple: #9966cc;
$tealBLue: #33658a;
$maroon: #7D1935;
$cream: #faf1e6;
$linear: linear-gradient(90deg, #3f4593, #5960bd);
$color: #B66C8D;
$colors = '#FF1461', '#18FF92', '#5A87FF', '#FBF38C';
colors = ["#FF6138", "#FFBE53", "#2980B9", "#282741;
$linear: linear-gradient(90deg, #3f4593, #5960bd);


background-color: #0093E9;
background-image: linear-gradient(160deg, #0093E9 0%, #80D0C7 100%);

background-color: #FBAB7E;
background-image: linear-gradient(62deg, #FBAB7E 0%, #F7CE68 100%);

background-color: #FFE53B;
background-image: linear-gradient(147deg, #FFE53B 0%, #FF2525 74%);

background-color: #F4D03F;
background-image: linear-gradient(132deg, #F4D03F 0%, #16A085 100%);



*/
