body {
    font-family: 'Lato', sans-serif;
  }
  .openbtn {
      font-size: 30px;
      margin-left: 95%;
      margin-top: 2.5%;
      cursor: pointer;
      background-color: rgb(255, 255, 255);
      color: #1d7b81;
      font-weight: bolder;
      border: none;
      
    }
    
    .openbtn:hover {
      border-radius: 150px 150px 0 0;
      transition: ease-in-out 0.5s;
    }
  
  .overlay {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background: #BE93C5;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #7BC6CC, #BE93C5);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #7BC6CC, #BE93C5); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    overflow-x: hidden;
    transition: 0.5s;
  }
  
  .overlay-content {
      padding-left: 20%;
    position: relative;
    top: 25%;
    width: 100%;
    text-align: center;
    margin-top: 30px;
  }
  
  .overlay a {
    padding: 8px;
    text-decoration: none;
    font-size: 36px;
    color: #0a0a0a;
    display: block;
    transition: 0.3s;
  }
  
  .overlay a:hover, .overlay a:focus {
    color: #f1f1f1;
  }
  
  .overlay .closebtn {
    position: absolute;
    top: 20px;
    right: 45px;
    font-size: 60px;
  }
  li {float: left; text-decoration: none; padding: 5px; list-style-type: none}
  
  
  @media screen and (max-height: 450px) {
    .overlay a {font-size: 20px}
    .overlay .closebtn {
    font-size: 40px;
    top: 15px;
    right: 35px;
    }
  }
  

h1{
  display: flex;
  justify-content: center;
  font-size: 150px; 
  font-family: 'Bebas Neue', cursive;
  margin-top: 7%;
}
hr{
  width: 40%;
margin-top: -7%;
}


p{
  display: flex;
  justify-content: center;
  font-size: large; 
  letter-spacing: 0.5rem; 
  text-transform: uppercase;
  margin-top:  3%;
}




  
  





    /* ~~~~~~~ INIT. BTN ~~~~~~~ */

    .btn {
      position: relative;	
      padding: 1.4rem 4.2rem;
      padding-right: 3.1rem;
      font-size: 1.4rem;
      color: black;
      letter-spacing: 1.1rem;
      text-transform: uppercase;
      transition: all 500ms cubic-bezier(0.77, 0, 0.175, 1);	
      cursor: pointer;
      user-select: none;
    }
    
    .btn:before, .btn:after {
      content: '';
      position: absolute;	
      transition: inherit;
      z-index: -1;
    }
    
    .btn:hover {
      color: black;
      transition-delay: .5s;
    }
    
    .btn:hover:before {
      transition-delay: 0s;
    }
    
    .btn:hover:after {
      background: #BE93C5;  /* fallback for old browsers */
      background: -webkit-linear-gradient(to right, #7BC6CC, #BE93C5);  /* Chrome 10-25, Safari 5.1-6 */
      background: linear-gradient(to right, #7BC6CC, #BE93C5); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
        transition-delay: .35s;
    }
    
    
    /* From Left */
    .from-left{
      margin-left: 15%;
    }
    .from-left:before, 
    .from-left:after {
      top: 0;
      width: 0;
      height: 100%;
    }
    
    .from-left:before {
      right: 0;
      border: 1px solid #407B80;
      border-left: 0;
      border-right: 0;	
    }
    
    .from-left:after {
      left: 0;
    }
    
    .from-left:hover:before,
    .from-left:hover:after {
      width: 100%;
    }
    
    /* From Right */
    
    .from-right:before, 
    .from-right:after {
      top: 0;
      width: 0;
      height: 100%;
    }
    
    .from-right:before {
      left: 0;
      border: 1px solid #407B80;
      border-left: 0;
      border-right: 0;	
    }
    
    .from-right:after {
      right: 0;
    }
    
    .from-right:hover:before,
    .from-right:hover:after {
      width: 100%;
    }
    
    
    /* From Bottom */
    
    .from-bottom:before, 
    .from-bottom:after {
      left: 0;
      height: 0;
      width: 100%;
    }
    
    .from-bottom:before {
      top: 0;	
      border: 1px solid #407B80;
      border-top: 0;
      border-bottom: 0;
    }
    
    .from-bottom:after {
      bottom: 0;
      height: 0;
    }
    
    .from-bottom:hover:before,
    .from-bottom:hover:after {
      height: 100%;
    }
    
    
    /* ~~~~~~~~~~~~ GLOBAL SETTINGS ~~~~~~~~~~~~ */
    
    *, *:before, *:after {
      box-sizing: border-box;
    }
    
    
    div {margin-bottom: 3rem;}
    div:last-child {margin-bottom: 0;}



    /*
        background: #433445;  /* fallback for old browsers */
  /*background: -webkit-linear-gradient(to right, #E16541, #433445);  /* Chrome 10-25, Safari 5.1-6 */
  /*background: linear-gradient(to right, #E16541, #433445); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  